extends layout

block content
 h3 Request Headers
 pre 
  code 
   each val,key in reqHeaders 
    p= key + ': ' + val
   else 
    p No Headers

 h3 Response Headers 
 pre
  code 
   each val,key in resHeaders 
    p= key + ': ' + val
   else 
    p No Headers

 include foot