extends layout

block content
 pre 
  code 
   p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc semper eleifend consectetur. Etiam ullamcorper dui ornare elit commodo ultrices. Praesent ultrices egestas lorem, et varius augue. Quisque nec sem sapien. Quisque tincidunt ornare lectus in maximus. In a tristique diam. Mauris sodales cursus eleifend. Mauris tempus scelerisque efficitur.

   p Fusce vehicula purus at dui eleifend consectetur. Nunc sagittis nunc sit amet elit molestie maximus. Aliquam eget ante a ligula malesuada pretium a a velit. Maecenas vel metus sagittis, tincidunt odio et, sagittis libero. Sed accumsan tortor ac aliquam porta. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Quisque facilisis lobortis sem dictum tristique. Fusce vulputate semper ullamcorper. Aliquam metus ante, commodo quis sagittis id, tempor vestibulum lacus. Pellentesque blandit, massa nec volutpat suscipit, elit tellus consequat libero, non blandit augue lacus eu tortor.

 include foot