extends layout
 
block content
  if upload
    p Upload #{upload}
  else
    form(method='post', enctype='multipart/form-data')
      input(type='file', name='imageupload')
      input(type='submit', name='uploadimage', value='Upload Image')
      
  include foot